*,html {
    margin: 0;
    padding: 0;
}

.countainer {}

.countainer-navbar {
    background-color: gray;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 40px;
}

.a-navbar:hover {
    background-color: purple;
}

.countainer-content {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.img-content {
    width: 500px;
    height: 500px;
    border-radius: 400px;
}

.countainer-footer {
    height: 10vh;
    background-color: gray;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    padding: 10px;
    margin: 5px;
    color: white;
    font-size: 40px;
}    

.link-bar {
    background-color: gray;
    width: 100%;
    height: 10vh;
}

.ul-link {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.li-link {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: white;
    font-size: 40px;
}